* {
  box-sizing: border-box;
  /* font-family: "Kodchasan", sans-serif; */
}

.banner {
  background-image: url("../images/banner2.jpg");
  background-size: cover;
  height: 200px;
}
h1 {
  color: #ff1554;
  font-family: "Cedarville Cursive", cursive;
  display: inline-block;
  margin: auto;
  font-size: 75px;
}

.mdl-cell {
  margin: 5px;
}

.mdl-card {
  width: 100%;
}

/* #local-nav {
  border: 2px solid red;
  display: none;
} */

.navbutton {
  height: 100%;
  color: rgba(245, 245, 245, 0.75);
  width: 100px;
}

.navbutton:hover {
  color: red;
}

a {
  color: #ff1554;
  text-decoration: none;
}

.card {
  /* width: 320px; */
  height: 400px;
  border: 2px solid #2c2727;
  margin: auto;
}

.nav {
  background-color: #2c2727;
  color: #ff1554;
  font-family: "Kodchasan", sans-serif;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0px;
  z-index: 10;
}

.card-details {
  width: 90%;
  padding: 16px;
}

.description {
  background-color: rgba(44, 39, 39, 1);
  color: rgba(245, 245, 245, 1);
  width: 100%;
}

.detail {
  background-color: rgba(44, 39, 39, 1);
  color: rgba(245, 245, 245, 1);
  width: 100%;
}

.tags {
  font-size: 0.75em;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: rgba(0, 0, 0, 0.33);
}

.card-title {
  background: rgba(245, 245, 245, 0.75);
}

img {
  height: auto;
  width: 100%;
}

table {
  width: 100%;
}

.noborder {
  border-bottom: none;
}

h2 {
  display: inline-block;
  margin-left: auto;
}

#mapid {
  height: 250px;
}

#map {
  margin-top: 50px;
  z-index: 1;
}

footer {
  background-color: #2c2727;
  height: 150px;
  color: whitesmoke;
  padding-left: 10px;
  padding-top: 25px;
}

.active {
  color: red;
  background-color: rgba(158, 158, 158, 0.2);
}

@media (max-width: 840px) {
  .banner {
    display: none;
  }
}
